      body {
        box-sizing: border-box;
        font-size: 16px;
        background-color: #000;
      }

      .container {
        width: 90%;
        margin: auto;
      }

      .scroll {
        display: flex;
        align-items: center;
        width: 70%;
        margin: auto;
        margin-top: 10rem;
        margin-bottom: 5rem;
      }

      marquee {
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.75;
        margin: auto;
        margin-top: 5rem;
        height: 80vh;
        text-shadow: #fff 1px 0px;
      }

      .replicant {
        color: red;
        font-weight: bold;
        font-style: italic;
      }

      #logo {
        /*display: none;*/
        width: 0;
      }

      .logo {
        /*display: block;
        margin: auto;
        width: 25%;
        height: auto;
        margin-top: 10rem;*/
      }

      .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
      }

      .animated.infinite {
        animation-iteration-count: infinite;
      }

      .animated.hinge {
        animation-duration: 2s;
      }

      .animated.flipOutX, .animated.flipOutY, .animated.bounceIn, .animated.bounceOut {
        animation-duration: .75s;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .fadeIn {
        animation-name: fadeIn;
      }
