body {
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #000;
  letter-spacing: 2px;
}

#temp-black-bg {
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  z-index: 2;
  height: 110vh;
  width: 100vw;
}

#temp-black-bg-2 {
  position: absolute;
  background-color: #000;
  opacity: .4;
  left: 0;
  top: 0;
  z-index: 2;
  height: 54vh;
  width: 100vw;
}

.container {
  width: 90%;
  margin: auto;
}

#temp-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
}

#progress-area {
  margin: auto;
  width: 100vw;
  z-index: 7;
}

.total {
  width: 80%;
  margin: auto;
  height: 3rem;
  border: solid 2px #f617ff;
}

#loading-test {
  width: 100%;
  text-align: center;
  color: #f617ff;
}

.blink {
  color: #000;
}

#progress {
  width: 1%;
  height: 3rem;
  background-color: #43aa9a;
  padding: -1px;
}

#progress-percent {
  color: #43aa9a;
  text-align: center;
  font-size: 1.5rem;
}

/*TYRELL OFFICE*/

.office {
  display: flex;
  justify-content: center;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side img {
  max-width: 5vw;
  margin-left: 2rem;
  margin-right: 2rem;
}

.divider {
  border: 1px #f617ff solid;
  height: 1px;
  margin-bottom: 1rem;
}

/*TEST AREA*/

.bottom-section {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.monitor-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 25%;
}

.monitor {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #43aa9a 4px;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.monitor-1 {
  height: 40vh;
}

.monitor-1 img {
  height: 80%;
  width: auto;
  transition: .5s;
}

.test-area {
  max-width: 75%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  border: solid #f617ff 4px;
  border-radius: 3px;
  padding-right: 1rem;
  padding-left: 1rem;
}

#start {
  color: #fff;
  margin-top: 3rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.test-head h2 {
  margin-bottom: 1.5rem;
  color: #43aa9a;
}

.question {
  width: 100%;
  display: flex;
  justify-content: center;
}

.question p {
  color: #f617ff;
  font-size: .8rem;
  text-align: center;
  width: 90%;
  margin-top: 0;
  line-height: 1.4;
}

.test-progress-section {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.test-progress {
  height: 15px;
  width: 15px;
  background-color: #000;
  border: #f617ff 2px solid;
  border-radius: 3px;
  margin-bottom: .8rem;
}

.active-progress {
  height: 15px;
  width: 15px;
  background-color: #f617ff;
  border: 2px #43aa9a solid;
  margin-bottom: .8rem;
}

.answers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.answer {
  background-color: #000;
  color: #f617ff;
  border-radius: 3px;
  width: 48%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer p {
  padding: .5rem;
  font-size: .9rem;
  line-height: 1.4;
  color: #fff;
  text-align: center;
}

.answer-title {
  background-color: #fff;
  color: #000;
  padding: .5rem;
}

.select {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  align-self: center;
  margin-bottom: .5rem;
  font-size: .8rem;
  padding-left: .3rem;
  padding-right: .3rem;
}

.monitor-2 {
  height: 40vh;
  display: flex;
  justify-content: center;
}

.video-container {
  border: 10px solid #000;
  border-radius: 15px;
  overflow: hidden;
}

.monitor-2 video {
  max-width: 100%;
  height: auto;
}

.prompt {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: .8rem;
}

.blink {
  color: #000;
}

.tryrell-office {
  align-self: center;
  margin: auto;
  width: 130%;
}

#canvas {
  display: none;
}

#stream {
  display: none;
}
